---
layout: page
title: Documents
permalink: /docs/
---

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>File Name</th>
            <th>Official ID</th>
            <th>Release Time</th>
            <th>Issued Time</th>
            <th>Publisher</th>
            <th>Category</th>
        </tr>

    </thead>
    <tbody>
        {% for post in site.posts %}
            {% if post.layout == "doc_post" %}
            <tr>
                <td> <a href="{{ post.url | relative_url }}"> {{ post.title }} </a> </td>
                <td> {{ post.filename }} </td>
                <td> {{ post.id }} </td>
                <td> {{ post.release_time }} </td>
                <td> {{ post.issue_time }} </td>
                <td> {{ post.publisher }} </td>
                <td> {{ post.category }} </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>