---
layout: page
title: Films
permalink: /films/
---

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Language</th>
            <th>Media Type</th>
            <th>Category</th>
            <th>Producer</th>
            <th>Year</th>
        </tr>

    </thead>
    <tbody>
        {% for post in site.posts %}
            {% if post.layout == "film_post" %}
            <tr>
                <td> <a href="{{ post.url | relative_url }}"> {{ post.title }} </a> </td>
                <td> {{ post.language }} </td>
                <td> {{ post.media }} </td>
                <td> {{ post.category }} </td>
                <td> {{ post.producer }} </td>
                <td> {{ post.year }} </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>